# MariaDB credentials
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=change_this_database_password
MYSQL_ROOT_PASSWORD=change_this_root_password

# WordPress administrator credentials
WP_USER=admin
WP_PASSWORD=change_this_wordpress_password
